<!-- <h1>Prueba youTube</h1>

<iframe width="560" height="315" [src]="getVideoUrl()" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<div class="container">


  <h1>Llenar tabla con datos de campos</h1>
  <hr>
  <form [formGroup]="formulario" role="form" ngNativeValidate (ngSubmit)="guardar()" autocomplete="off">
    <div class="modal-body">
      <div class="form-content">

        <div class="form-group">
          <label><strong>Nombre artista</strong></label>
          <input type="text" formControlName="nombreArtista" name="nombreArtista" class="form-control"
            placeholder="Nombre artista" autocomplete="off" [class.is-invalid]="validarCampo('nombre')">
        </div>

        <div class="form-group">
          <label><strong>Url Wiki del Artista</strong></label>
          <input type="text" formControlName="wikiArtista" name="wikiArtista" class="form-control"
            placeholder="Wiki artista" autocomplete="off">

        </div>

        <div class="form-group">
          <label><strong>Url foto del artista</strong></label>
          <input type="text" formControlName="urlArtista" name="urlArtista" class="form-control"
            placeholder="Url foto artista" autocomplete="off">
        </div>


      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary">Añadir</button>
    </div>
  </form>


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Url foto</th>
        <th scope="col">Url wiki</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artista of artistas">
        <td>{{artista?.nombre}}</td>
        <td>{{artista?.urlFoto}}</td>
        <td>{{artista?.urlWiki}}</td>
      </tr>

    </tbody>
  </table>

</div>